{
	"spec": [
		{
			"ext": [".js"],
			"cmd": [
					{
						"exec": "eslint",
						"args": ["--fix", "$NAME"]
					},
					{
						"exec": "prettier",
						"args": ["$NAME", "--write", "--loglevel", "error"]
					}
				],
				"fmt": {
				  "indent": 2,
				  "expand": true
				}
		},
		{
			"ext": [".yml", ".yaml"],
			"cmd": [
					{
						"exec": "yamllint",
						"args": ["-d", "relaxed", "$NAME"]
					},
					{
						"exec": "prettier",
						"args": ["$NAME", "--write", "--loglevel", "error"]
					}
				],
				"fmt": {
				  "indent": 2,
				  "expand": true
				}				
		},
		{
			"ext": [".json"],
			"cmd": [
					{
						"exec": "prettier",
						"args": ["$NAME", "--write", "--loglevel", "error"]
					}
				],
				"fmt": {
				  "indent": 2,
				  "expand": true
				}				
		},
		{
			"ext": [".md"],
			"cmd": [
					{
						"exec": "prettier",
						"args": ["$NAME", "--write", "--loglevel", "error"]
					}
				],
				"fmt": {
				  "indent": 2,
				  "expand": true
				}
		},	
		{
			"ext": [".go"],
			"cmd": [
				{
					"exec": "goimports",
					"args": ["$NAME"]
				},
				{
					"exec": "gofmt",
					"args": ["$NAME"]
				}
			],
				"fmt": {
				  "indent": 8,
				  "expand": false
				}			
		},
		{
			"ext": [".cc", ".cpp", ".hpp"],
			"cmd": [
				{
					"exec": "clang-format",
					"args": ["-style=google", "-i", "$NAME"]
				}
			],
			"fmt": {
			  "indent": 2,
			  "expand": true
			}			
		},
		{
			"ext": [".c", ".h"],
			"cmd": [
				{
					"exec": "indent",
					"args": ["-st", "-bap", "-bli0", "-i4", "-l79", "-ncs", "-npcs", "-npsl", "-fca", "-lc79", "-fc1", "-ts4", "$NAME"]
				}
			],
			"fmt": {
			  "indent": 8,
			  "expand": false
			}			
		}		
	]
}